<!-- Navigation Tabs -->
<div class="nav-tabs">
    <a href="/" class="nav-tab {% if request.endpoint == 'index' %}active{% endif %}">Receive Report</a>
    <a href="/finding-report" class="nav-tab {% if request.endpoint == 'finding_report' %}active{% endif %}">Finding Report</a>
    <a href="/service-report" class="nav-tab {% if request.endpoint == 'service_report' %}active{% endif %}">Service Report</a>
    <a href="/hydrotest" class="nav-tab {% if request.endpoint == 'hydrotest' %}active{% endif %}">Hydrotest</a>
    <a href="/valvecert" class="nav-tab {% if request.endpoint == 'valvecert' %}active{% endif %}">Valve Certificate</a>
    <a href="/edit-stamps" class="nav-tab {% if request.endpoint == 'edit_stamps' %}active{% endif %}">Edit Stamps</a>
    <a href="/excel-converter" class="nav-tab {% if request.endpoint == 'excel_converter' %}active{% endif %}">Excel Converter</a>
</div> 